*{
	box-sizing: border-box;
}
body{
	font-size: 16px;
	margin: 0;
	background-color: black;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main{
	height: 100vh; /*viewport height*/
	display: flex;
	width: 70%;
}
#odin {
	font-family: arial;
	font-size: 13px;

}
.box2{
	background-color: #F8FCFC;
	flex-basis: 65%;
}

.box1{
	flex-basis: 35%;
	background-image: url('./images/leaf.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box1 .overlay-box{
	text-align: center;
	margin-top: 45%;
	background-color: rgba(0,0,0, .5);
}

.box1 .overlay-box img{
	max-width: 100%;
	height: auto;
}

.box2 label{
	display: block;
}

.box2 form{
	display:  flex;
	flex-wrap: wrap;
}

.box2 form .form-box{
 flex-basis: 45%;
 padding-block: 10px;
}

#odin, .box2 form{
	padding: 0.4rem 2.4rem;
}


#btn{
	background-color: rgb(67, 141, 67);
	color: white;
	padding: 10px 33px;
	text-align: right;	
	border-color: rgb(67, 141, 67);
	
}